html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #4AC29A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BDFFF3, #4AC29A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
  width: max-content;
}

h1 {
  font-family: 'Hanalei', cursive;
}

.weather-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}